lineage/adf-copy-activity/src/lineage-pipeline/sampleCopyPipeline.json
{
    "name": "DataCopyWithLineage",
    "properties": {
        "activities": [
            {
                "name": "Copy Data1",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": false,
                            "wildcardFolderPath": "*",
                            "wildcardFileName": "*.*",
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".txt"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "SampleAdlsSource",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "salesadls",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "ReportLineage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Copy Data1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "CreateLineageSp",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "ExecutionStartTime": {
                            "value": "@{activity('Copy Data1').ExecutionStartTime}",
                            "type": "Expression"
                        },
                        "ExecutionEndTime": {
                            "value": "@{activity('Copy Data1').ExecutionEndTime}",
                            "type": "Expression"
                        },
                        "SourceDataset": "SampleAdlsSource",
                        "SourceType": "azure_datalake_gen2_resource_set",
                        "SourceAzureResource": "https://beamdatav2.dfs.core.windows.net/sales/2019/8/20/0/0",
                        "DestinationDataset": "salesadls",
                        "DestinationType": "azure_datalake_gen2_filesystem",
                        "DestinationAzureResource": "https://beamdatav2.dfs.core.windows.net/sales",
                        "PipelineName": {
                            "value": "@pipeline().Pipeline",
                            "type": "Expression"
                        },
                        "ActivityName": {
                            "value": "Copy Data1",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Copy SQL to ADLS",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlDWSource"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".txt"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "AzureSqlDWTable1",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "salesadls",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Report Sql2AdlsCopy Lineage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Copy SQL to ADLS",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "CreateLineageSp",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "ExecutionStartTime": {
                            "value": "@{activity('Copy SQL to ADLS').ExecutionStartTime}",
                            "type": "Expression"
                        },
                        "ExecutionEndTime": {
                            "value": "@{activity('Copy SQL to ADLS').ExecutionEndTime}",
                            "type": "Expression"
                        },
                        "SourceDataset": "AzureSqlDWTable1",
                        "SourceType": "azure_sql_table",
                        "SourceAzureResource": "https://<sql-server-name>.database.windows.net/<db-name>/salesv2",
                        "DestinationDataset": "salesadls",
                        "DestinationType": "azure_datalake_gen2_filesystem",
                        "DestinationAzureResource": "https://beamdatav2.dfs.core.windows.net/sales",
                        "PipelineName": {
                            "value": "@pipeline().Pipeline",
                            "type": "Expression"
                        },
                        "ActivityName": {
                            "value": "Copy SQL to ADLS",
                            "type": "Expression"
                        }
                    }
                }
            }
        ],
        "annotations": []
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}